@media(min-width: 768px) {
  .profile__details-wrapper {
    font-size: 1.25rem;
  }
}

@media(max-width: 767px) {
  .profile__details {
    padding-left: 2.25rem;
  }
  .profile__header {
    font-size: 1.25rem;
  }
}
