.container {
  position: relative;
  margin-bottom: 300px;
  cursor: default;
}

.close__student-details {
  position: absolute;
  top: 0;
  right: 20px;

  font-size: 34px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.lead div:nth-child(odd) {
  font-weight: bold;
}