@import '@styles/main';

.scale {
  transition: .3s ease;
  padding-top: 3px;
  &:hover {
    transform: scale(1.4);
    padding-top: 5px;
  }
}

.change-rows{
  margin: 0 10px;
  width: fit-content !important;
}

.label-for-select{
  padding: .375rem .75rem;
  margin-bottom: 0 !important;
}

.paginate{
  margin: auto !important;
}
