@import '../../../../styles/main';

.label {
  background-color: map-get($colors, nonAccent-color);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.success {
  background-color: grey;
}