@import '../../../../styles/main';

.label {
  background-color: $theme-colorN2;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
