@import '../../styles/main';

.wrapper {
  position: absolute;
  top: 200px;
  left: 8%;
}

.list-head {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.search-container {
  display: block;
  margin: 0 auto;
}

.button {
  position: absolute;
  top: 0;
  right: 10%;

  width: 18%;
}