@import '../../styles/main';

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__container {
  display: block;
  margin: auto;
}

.button {
  position: absolute;
  top: 0;
  right: 10%;
  width: 18%;
}