@import '../../styles/main';

.header {
  height: 75px;
  padding: 0 3rem !important;
  z-index: 10;
  color: white;
  background-color: $theme-colorDark;

  &__logo {
    font-size: 20px;
    height: 100%;
    position: relative;
  }

  &__account {
    width: 18%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 18px;

    cursor: default;

    &-user {
      display: flex;
      align-items: center;
      padding-right: 10%;
      color: white;
      &--fullname {
        cursor: pointer;
      }

      &--icon {
        padding-right: 1rem;
        color: white;
        cursor: pointer;

        &:hover {
          color: #fff;
          opacity: 1;
          text-decoration: none;
          & a {
            opacity: 1;
          }
        }
      }
    }

    &-logout {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.header__dropdown-icon {
  color: white !important;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.header__dropdown-icon-active {
  display: inline-block;
  transform: rotate(180deg);
  transition: all 0.3s ease 0s;
}

.header__dropdown-list {
  position: absolute;
  top: 10px;
  right: 2.5%;
  width: 15%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  &-show {
    position: absolute;
    opacity: 1;
    padding: 0;
    z-index: 2;
    top: 75px;
    right: 0;
    color: #fff;
    background-color: #fff;
    width: 15%;
    transition: all 0.5s ease 0s;
    border-bottom: 0.5px solid rgba($theme-colorDark, 0.5);
    border-left: 0.5px solid rgba($theme-colorDark, 0.5);
  }
    &--item {
      list-style: none;
      padding: 15px 10px;
      color: #000;
      transition: all 0.2s ease 0s;
      & a{
        color: #000 !important;
        text-decoration: none;
      }
    }

    &--item:hover {
      color: #fff;
      cursor: pointer;
      background-color: rgba(#F6F8FD, 0.8);
      padding-left: 20px !important;

    }

    &--item:last-child {
      border: none;
      & a {
        cursor: pointer;
      }
    }

  }

.header__dropdown-toggler {
  cursor: pointer;
}

