.header {
  height: 75px;
  padding: 0 3rem !important;

  color: white;
  background-color: #01073A;

  &__sidebar {
    position: absolute;
    left: -29%;
    top: 0;

    width: 29%;
    min-height: 500px;

    background-color: rgba(#01073A, 0.9);
    z-index: 9;

    transition: left .8s;

    &-toggler {
      display: none;
      position: relative;

      cursor: pointer;

      z-index: 19;

      &:hover {
        opacity: 0.5;
      }
    }

    &-links {
      display: flex;
      flex-wrap: wrap;

      padding-top: 80px;
    }

    &-links > a {
      width: 100%;
      margin-bottom: .5rem;

      text-align: center;

      font-size: 18px;
      font-weight: bold;

      color: white;
      background-color: transparent;

      &:focus {
        background-color: orange;
      }
      &:hover {
        background-color: orange;
        color: #212529;
      }
    }
  }

  &__navbar-links {
    width: 65%;
    height: 100%;

    justify-content: flex-start;
    align-items: flex-end;
  }

  &__navbar-links > a {
    width: 22%;
    margin-right: .7rem;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    text-align: center;
    font-weight: 600;
    font-size: 18px;

    color: #212529;
    background-color: white;

      &:focus {
        background-color: orange;
      }
      &:hover {
        background-color: orange;
        color: #212529;
      }
  }

  &__navbar-links > a:last-of-type {
    margin-right: 0 !important;
  }

  &__account {
    width: 18%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 18px;

    cursor: default;

    &-user {
      display: flex;
      align-items: center;

      padding-right: 10%;

      &--icon {
        padding-right: 1rem;
        color: white;
        cursor: pointer;

        &:hover {
          color: #fff;
          opacity: 0.5;
        }
      }
    }

    &-logout {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media(max-width: 1300px) {
  .header {
    padding: 0 1.5rem !important;

    &__navbar-links {
      width: 75%;
    }

    &__navbar-links > a {
      font-size: 16px;
    }
  }
}

@media(max-width: 768px) {
  .header {
    height: 55px;
    padding: 0 1.5rem !important;

    &__navbar-links  {
      display: none !important;
    }

    &__account-user--fullname {
      display: none;
    }

    &__sidebar-toggler {
      display: block;
    }
  }
}

@media(max-width: 480px) {
  .header__sidebar {
    width: 65%;
    left: -65%;
  }
}

.sidebar--active {
  left: 0;
}

.active {
  background-color: #FFB800 !important;
  font-weight: bold !important;
}


.header__dropdown-list {
  position: absolute;
  top: 75px;
  right: 0;
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease 0s;

  &-show {
    position: absolute;
    opacity: 1;
    z-index: 2;
    top: 75px;
    right: 0;
    color: #fff;
    border: 1px solid #000;
    background-color: rgba(#01073A, 1);
    padding: 0 5px;
    width: 15%;
    transition: all 0.5s ease 0s;
  }
    &--item {
      list-style: none;
      padding: 5px 5px;
      border-bottom: 1px solid #FFF;
    }

    &--item:hover {
      color: #fff;
      opacity: 0.5;
      text-decoration: underline;
    }

    &--item:last-child {
      border: none;
      & a {
        cursor: pointer;
      }
    }

  }

.header__dropdown-toggler {
  cursor: pointer;
}

