.header {
  height: 75px;
  padding: 0 3rem !important;
  z-index: 10;
  color: white;
  background-color: #01073A;

  &__logo {
    font-size: 20px;
    height: 100%;
    position: relative;
  }

  &__account {
    width: 18%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 18px;

    cursor: default;

    &-user {
      display: flex;
      align-items: center;

      padding-right: 15%;

      &--icon {
        padding-right: 1rem;
        color: white;
        cursor: pointer;

        &:hover {
          color: #fff;
          opacity: 0.5;
        }
      }
    }

    &-logout {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media(max-width: 1300px) {
  .header {
    padding: 0 1.5rem !important;

    &__navbar-links {
      width: 75%;
    }

    &__navbar-links > a {
      font-size: 16px;
    }
  }
}

@media(max-width: 768px) {
  .header {
    height: 55px;
    padding: 0 1.5rem !important;

    &__navbar-links  {
      display: none !important;
    }

    &__account-user--fullname {
      display: none;
    }

    &__sidebar-toggler {
      display: block;
    }
  }
}
