.header {
  height: 75px;
  padding: 0 3rem !important;

  color: white;
  background-color: #01073A;

  &__sidebar {
    position: absolute;
    left: -29%;
    top: 0;

    width: 29%;
    min-height: 500px;

    background-color: rgba(#01073A, 0.9);
    z-index: 9;

    transition: left .8s;

    &-toggler {
      display: none;
      position: relative;

      cursor: pointer;

      z-index: 19;

      &:hover {
        opacity: 0.5;
      }
    }

    &-links {
      display: flex;
      flex-wrap: wrap;

      padding-top: 80px;
    }

    &-links > a {
      width: 100%;
      margin-bottom: .5rem;

      text-align: center;

      font-size: 18px;
      font-weight: bold;

      color: white;
      background-color: transparent;

      &:focus {
        background-color: orange;
      }
      &:hover {
        background-color: orange;
        color: #212529;
      }
    }
  }

  &__navbar-links {
    width: 60%;
    height: 100%;

    justify-content: flex-start;
    align-items: flex-end;
  }

  &__navbar-links > a {
    width: 22%;
    margin-right: 1rem;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    text-align: center;
    font-weight: bold;
    font-size: 18px;

    color: #212529;
    background-color: white;

      &:focus {
        background-color: orange;
      }
      &:hover {
        background-color: orange;
        color: #212529;
      }
  } 

  &__account {
    width: 18%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 18px;
    
    cursor: default;

    &-user {
      display: flex;
      align-items: center;

      padding-right: 15%;

      &--icon {
        padding-right: 1rem;

        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &-logout {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media(max-width: 768px) {
  .header {
    height: 55px;
    padding: 0 1.5rem !important;

    &__navbar-links  {
      display: none;
    }

    &__account-user--fullname {
      display: none;
    }

    &__sidebar-toggler {
      display: block;
    }
  }
}

@media(max-width: 480px) {
  .header__sidebar {
    width: 65%;
    left: -65%;
  }
}

.sidebar--active {
  left: 0;
}

