@import '../../index.scss';

.tab {
  flex: 1;
  margin-right: -2%;
  @include tab;

  &:hover {
    background-color: orange;
    color: black;
    z-index: 3;
  }
}

.back {
  display: flex;
  align-items: center;
}

.active {
  background-color:orange;
  z-index: 2;
}

