@import '../../../styles/main';

.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.list-element {
  width: 45%;
  margin-top: 10px;
  padding-left: 5px;

  button:focus {
    box-shadow: none;
  }
}

.input{
  width:80%;
}

.button{
  @include button();
  cursor: pointer;
  .submit {
    background-color: $theme-colorAccent !important;
  }
}

.error{
  padding-top:5px;
  color:red;
}

.loader-centered {
  display: block !important;
  margin: 20px auto;
}
