@import '../../../styles/main';

.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.list-element {
  width: 45%;
  margin-top: 10px;
  padding-left: 5px;

  button:focus {
    box-shadow: none;
  }
}

.input{
  width:80%;
}

.button{
  @include button();
  cursor: pointer;

}
.submit {
  background-color: $theme-colorAccent !important;
  border-color: $theme-colorAccent !important;
  color: #fff !important;
}

.error{
  padding-top:5px;
  color:red;
}

.loader-centered {
  display: block !important;
  margin: 20px auto;
}

.disable-button {
  background-color: $theme-colorDark !important;
  border-color: $theme-colorDark !important;
}

.btn-secondary {
  background-color: $theme-colorLight !important;
  border-color: $theme-colorLight !important;
  color:#fff !important;
}



//.clear-button {
//  background-color: $theme-colorLight !important;
//  border-color: $theme-colorLight !important;
//  color: #fff;
//}