@import '../../styles/main';

.list-head{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calendar-input{
  @include input;
}

.calendar-input:focus {
  outline: none;
  box-shadow: 0 0 10px map-get($colors, textAccentN1-color);
  border-color: map-get($colors, textAccentN1-color);
}
.search{
  width: 250px;
}

.group-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}