$theme-colorN1: #FFB800;
$theme-colorN2: #01073A;
$disable-colorN1: #ACABA9;
$disable-colorN2: #B7B5B5;
$neutral-colorN1: #FFFFFF;
$neutral-colorN2: #000000;
$danger-color: #FF2121;
$success-color: #329B00;
