@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Libre+Franklin:ital,wght@0,300;0,400;0,600;1,400&display=swap');

$libre-baskerville: 'Libre Baskerville', serif;
$libre-franklin: 'Libre Franklin', sans-serif;

$bold: 600;
$regular: 400;
$light: 300;

//fonts mixins
@mixin baskerville-regular() {
  font-family: $libre-baskerville;
  font-weight: $regular;
}
@mixin baskerville-italic() {
  font-family: $libre-baskerville;
  font-weight: $regular;
  font-style: italic;
}
@mixin franklin-regular() {
  font-family: $libre-franklin;
  font-weight: $regular;
}
@mixin franklin-light() {
  font-family: $libre-franklin;
  font-weight: $light;
}
@mixin franklin-semibold() {
  font-family: $libre-franklin;
  font-weight: $bold;
}
