@import "_fonts";
@import "_variables";
@import "_sizes";
@import "_color-palette";


//mixins
@mixin button() {
  border-radius: map-get($border-radius, button-borRad);
  box-shadow: map-get($box-shadows, button-boxShadow);
  padding: $button-padding;
  border: none;
  &:hover {
    opacity: 0.8;
  }
}

@mixin modalWindow() {
  box-shadow: map-get($box-shadows, button-boxShadow);
  position: absolute;
  z-index: 100;
  border-radius: map-get($border-radius, page-borRad);
}

@mixin pageWindow() {
  box-shadow: map-get($box-shadows, page-boxShadow);
  border-radius: map-get($border-radius, page-borRad);
}

@mixin card() {
  box-shadow: map-get($box-shadows, card-boxShadow);
  border-radius: map-get($border-radius, card-boRad);
}

@mixin input() {
  border-radius: map-get($border-radius, input-borRad);
  border: 1px solid map-get($colors, nonAccent-color);
}

@mixin tab() {
  text-align: center;
  box-shadow: map-get($box-shadows, tab-boxShadow);
  color: map-get($colors, textMain-color);
  background-color: map-get($colors, medium-color);
  cursor: pointer;
}