//custom colors
$theme-colorN1: #FFB800;
$theme-colorN2: #01073A;
$disable-colorN1: #ACABA9;
$disable-colorN2: #B7B5B5;
$neutral-colorN1: #FFFFFF;
$neutral-colorN2: #000000;
$danger-color: #FF2121;
$success-color: #329B00;

$colors: (
        backgroung-color: $neutral-colorN1,
        header-color: $theme-colorN2,
        textMain-color: $neutral-colorN2,
        textAdd-color: $neutral-colorN1,
        textAccentN1-color: $theme-colorN1,
        buttonSuccess-color: $success-color,
        buttonReject-color: $danger-color,
        buttonCustom-color: $theme-colorN1,
        selectedTab-color: $theme-colorN1,
        diselectedTab-color: $disable-colorN1,
        checkboxSuccess-color: $success-color,
        checkboxReject-color: $danger-color,
        dropdownButton-color: $theme-colorN1,
);

//custom fonts
$main-font: "Libre Franklin', sans-serif";
$accent-font: "Libre Baskerville', serif";


// custom border-radius
$main-borRad: 3px;
$add-borRad: 5px;
$border-radius: (
        button-borRad: $add-borRad,
        card-boRad: $main-borRad,
        tab-borRad: $main-borRad,
        page-borRad: $add-borRad,
        input-borRad: $main-borRad,
        form-borRad: $main-borRad,
);

// custom box-shadows
$box-shadows: (
      card-boxShadow: 0 0 20px rgba(0, 0, 0, 0.25),
      button-boxShadow: 0 0 10px rgba(0, 0, 0, 0.25),
      iconEdit-boxShadow: 0 4px 4px rgba(0, 0, 0, 0.25),
      page-boxShadow: 0 4px 10px rgba(0, 0, 0, 0.25),
      tab-boxShadow: 0 -4px 10px rgba(0, 0, 0, 0.25),

);
//custom paddings
$button-padding: 5px 15px;


//mixins
@mixin buttonAdd() {
        background-color: map-get($colors, buttonCustom-color);
        font-family: $accent-font;
        font-style: italic;
        color: map-get($colors, textAccentN2-color);
        border-radius: map-get($border-radius, button-borRad);
        box-shadow: map-get($box-shadows, button-boxShadow);
}

@mixin buttonMore() {
        background-color: map-get($colors, buttonCustom-color);
        font-family: $accent-font;
        border-radius: map-get($border-radius, button-borRad);
        color: map-get($colors, textMain-color);
        box-shadow: map-get($box-shadows, button-boxShadow);
        padding: $button-padding;
}

@mixin buttonReject() {
        background-color: map-get($colors, buttonReject-color);
        font-family: $accent-font;
        border-radius: map-get($border-radius, button-borRad);
        color: map-get($colors, textAdd-color);
        box-shadow: map-get($box-shadows, button-boxShadow);
        padding: $button-padding;
}

@mixin buttonSuccess() {
        background-color: map-get($colors, buttonSuccess-color);
        font-family: $accent-font;
        border-radius: map-get($border-radius, button-borRad);
        box-shadow: map-get($box-shadows, button-boxShadow);
        padding: $button-padding;
}

@mixin modalWindow() {
        background-color: map-get($colors, backgroung-color);
        box-shadow: map-get($box-shadows, button-boxShadow);
        position: absolute;
        z-index: 100;
        border-radius: map-get($border-radius, page-borRad);
}

@mixin pageWindow() {
        background-color: map-get($colors, backgroung-color);
        box-shadow: map-get($box-shadows, page-boxShadow);
        border-radius: map-get($border-radius, page-borRad);
}