@import "_fonts";
@import "_sizes";
@import '_color-palette';

//colors map
$colors: (
        medium-color: $theme-colorMedium,
        dark-color: $theme-colorDark,
        accent-color: $theme-colorAccent,
        nonAccent-color: $theme-colorLight,
);

//borders map
$border-radius: (
        button-borRad: $button-radius,
        card-boRad: $button-radius,
        tab-borRad: $tab-radius,
        page-borRad: $page-radius,
        input-borRad: $page-radius,
);

//box-shadows map
$box-shadows: (
      card-boxShadow: 0 0 20px rgba(0, 0, 0, 0.25),
      button-boxShadow: 0 0 10px rgba(0, 0, 0, 0.25),
      iconEdit-boxShadow: 0 4px 4px rgba(0, 0, 0, 0.25),
      page-boxShadow: 0 0px 5px rgba(0, 0, 0, 0.25),
      tab-boxShadow: 0 -4px 10px rgba(0, 0, 0, 0.25),
);

