@import "_fonts";
@import "_sizes";
@import '_color-palette';

//colors map
$colors: (
        backgroung-color: $neutral-colorN1,
        header-color: $theme-colorN2,
        textMain-color: $neutral-colorN2,
        textAdd-color: $neutral-colorN1,
        textAccentN1-color: $theme-colorN1,
        buttonSuccess-color: $success-color,
        buttonReject-color: $danger-color,
        buttonCustom-color: $theme-colorN1,
        buttonDisabled-color: $disable-colorN1,
        selectedTab-color: $theme-colorN1,
        diselectedTab-color: $disable-colorN1,
        checkboxSuccess-color: $success-color,
        checkboxReject-color: $danger-color,
        dropdownButton-color: $theme-colorN1,
);

//borders map
$border-radius: (
        button-borRad: $add-borRad,
        card-boRad: $main-borRad,
        tab-borRad: $main-borRad,
        page-borRad: $add-borRad,
        input-borRad: $main-borRad,
        form-borRad: $main-borRad,
);



//box-shadows map
$box-shadows: (
      card-boxShadow: 0 0 20px rgba(0, 0, 0, 0.25),
      button-boxShadow: 0 0 10px rgba(0, 0, 0, 0.25),
      iconEdit-boxShadow: 0 4px 4px rgba(0, 0, 0, 0.25),
      page-boxShadow: 0 4px 10px rgba(0, 0, 0, 0.25),
      tab-boxShadow: 0 -4px 10px rgba(0, 0, 0, 0.25),

);

//mixins
@mixin button() {
       @include baskerville-italic;
        border-radius: map-get($border-radius, button-borRad);
        box-shadow: map-get($box-shadows, button-boxShadow);
}
@mixin modalWindow() {
        @include franklin-regular;
        background-color: map-get($colors, backgroung-color);
        box-shadow: map-get($box-shadows, button-boxShadow);
        position: absolute;
        z-index: 100;
        border-radius: map-get($border-radius, page-borRad);
}
@mixin pageWindow() {
        background-color: map-get($colors, backgroung-color);
        box-shadow: map-get($box-shadows, page-boxShadow);
        border-radius: map-get($border-radius, page-borRad);
}
@mixin card() {
        background-color: map-get($colors, backgroung-color);
        box-shadow: map-get($box-shadows, card-boxShadow);
        border-radius: map-get($border-radius, card-boRad);
}
@mixin input() {
        @include franklin-regular;
        border-radius: map-get($border-radius, input-borRad);
        border: 1px solid map-get($colors, textAccentN1-color);
        width: 200px;
}
