@import '../../styles/main';

li{
    list-style: none;
}
.conteiner-calendar{
    @include franklin-regular(); 
    width: fit-content;
    margin: auto;
    box-shadow: rgb(221, 221, 221) 0px 0px 10px 5px;
    border-radius: 15px;
}

.arrow-left{
    width: 15px;
    margin-top: 36px;
    margin-bottom: 0;
    transform: scale(-1, 1);
    margin-right: 10px;
}
.arrow-right{
    width: 15px;
    margin-top: 36px;
    margin-bottom: 0;
    margin-left: 10px;
}


.slider-weeks{
    display: flex;
    margin: auto;
    width: fit-content;
}
.custom-calendar{
    display: flex;
    padding: 30px;
}

.day-name{
    text-align: center;
    background-color:rgb(219, 219, 219);
    font-weight: 900;
}


.lessons{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 0;
}

.week-name{
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 0;
}

.time{
    background-color:rgb(219, 216, 216);
    text-align: center;
}


.lessons li{
    width: 100px;
    border: solid 1px;
    border-color:rgb(70, 70, 70);
    border-collapse: collapse;
    padding: 3px;
}

.calendar {
    margin-left: 30px;
    border: solid 3px;
    border-radius: 3px;
    border-color: #FFB800;
    font-size: 1em;
    padding: 10px;
}
