@import '@styles/main';

.table-row {
  cursor: pointer;
  transition: all .2s ease-out;
}

.scale {
  transition: .3s ease;
  padding-top: 3px;
  &:hover {
    transform: scale(1.4);
    padding-top: 5px;
  }
}

.custom-control-label {
  cursor: pointer;
}

.custom-control-input:focus~
.custom-control-label::before {
  border-color: map-get($colors, accent-color) !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.custom-control-input:checked~
.custom-control-label::before {
  border-color: map-get($colors, accent-color) !important;
  background-color: map-get($colors, accent-color) !important;
}

.change-rows{
  margin: 0 10px;
  width: fit-content !important;
}

.label-for-select{
  padding: .375rem .75rem;
  margin-bottom: 0 !important;
}

.paginate{
  margin: auto !important;
}
