@import '@styles/main';

.table-row {
  cursor: pointer;
  transition: all .2s ease-out;
}

.scale {
  transition: .3s ease;
  padding-top: 3px;
  &:hover {
    transform: scale(1.4); 
    padding-top: 5px;
  }
}

.custom-control-label {
  cursor: pointer;
}

.custom-control-input:focus~
.custom-control-label::before { 
  border-color: map-get($colors, accent-color) !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
} 
  
.custom-control-input:checked~
.custom-control-label::before { 
  border-color: map-get($colors, accent-color) !important;
  background-color: map-get($colors, accent-color) !important;
}

.table-head {
  min-width: 150px;

  &:first-of-type {
    text-align: center;
    min-width: 0;
  }

  & span {
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: .4s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -15px;
      top: 10px;

      width: 8px;
      height: 8px;

      border-top: 1px solid #000;
      border-left: 1px solid #000;

      transform: rotateZ(45deg);
      transition: .3s;
    }

    &.rotate::after {
      top: 7px;
      transform: rotateZ(225deg);
    }
  }
}