@import '../../../styles/main';

.button {
  @include button();
  background-color: $theme-colorAccent;
  &:focus{
    outline: none;
  }
}

.page {
  @include pageWindow();
}
.date {
  border: 1px solid $theme-colorLight !important;
  color: $theme-colorMedium !important;
  border-radius: 3px !important;
  &:focus{
    border-color: $theme-colorLight !important;
    box-shadow: 0 0 7px map-get($colors, nonAccent-color) !important;
  }
}

.text {
  color:  $theme-colorMedium !important;
}

.edit {
  transition: .3s ease;
  padding-top: 3px;
  &:hover {
    transform: scale(1.4);
    padding-top: 5px;
  }
}

.button-sort {
  background-color: #fff !important;
  border: none;
    &:focus{
      background-color: #fff !important;
      outline: none !important; ;
    }
}

.switch{
  background-color: #fff !important;
  border: 0.5px solid  $theme-colorLight;
  border-radius: 3px;
  &:focus{
    background-color: #fff !important;
    outline: none !important;
  }
}
.arrow-up, .arrow-down {
  padding-top: 5px;
}
.arrow-up {
  display: none;
}

.descending .arrow-up {
  display: initial;
}

.descending .arrow-down {
  display: none;
}
