@import '../../../styles/main';

.heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.calendar-input {
  border-color: map-get($colors, textAccentN1-color) !important;
  width: 18%;
}

.calendar-input:focus {
  outline: none;
  box-shadow: 0 0 10px map-get($colors, textAccentN1-color);
  border-color: map-get($colors, textAccentN1-color);
}

.timeDate{
  font-size: 15px;
  margin-bottom: 0px;
}

.list-wrapper {
  min-height: 950px;
}