@media screen and (min-width: 768px) and (max-width: 1919px) {
  .container {
    padding-left: 64px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding-left: 220px;
  }
}

.container {
  position: relative;
}


