@media screen and (min-width: 768px) and (max-width: 1919px) {
  .container {
    padding-left: 64px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1919px) {
  .container {
    display: flex;
    padding-left: 0px;
    min-height: 100vh;
    height: fit-content;
    margin-top: -75px;
    padding-top: 74px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 220px;
  }
}

.container {
  position: relative;
}