@import '../../../styles/main';

.page {
  @include pageWindow();
  @include franklin-regular();
  padding: 30px;
  font-size: 16px;
}
h3{
  @include franklin-semibold();
  font-weight: $bold !important;
  font-size: 22px !important;
}

table{
  border: 1px !important;
}

.size {
  width: 100%;
}

.mode {
  display: block;
  margin: auto !important;
}

a {
  color: map-get($colors, textMain-color);
}

.placement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error{
  padding-top:5px;
  color:red;
}

.loader-centered {
  display: block !important;
  margin: 0 auto;
}

.link:hover{
  cursor:pointer;
  text-decoration: underline;
}

.list{
  margin-bottom: 20px;
  overflow-y: scroll;
  height: 400px;
}