.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.search-container {
  display: block;
  margin: auto;
}

.button-container {
  position: absolute;
  right: 0;
}

.wrap {
  word-wrap: break-word;
}

.list-wrapper {
  min-height: 775px;
}
