@import '../../../styles/main';

.table-rows {
  cursor: pointer;
  transition: all .2s ease-out;
}

.scale {
  transition: .5s;  
  &:hover {
    transform: scale(1.4); 
  }
}

.switch-input:focus~
.switch-label::before { 
  border-color: map-get($colors, accent-color) !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;  
} 
  
.switch-input:checked~
.switch-label::before { 
  border-color: map-get($colors, accent-color) !important;
  background-color: map-get($colors, accent-color) !important;
}

.btn {
  background-color: map-get($colors, accent-color) !important;

  &:hover {
    background-color: map-get($colors, accent-color);
    opacity: 0.8;
  }
}

.table-head {
  &:first-of-type {
    text-align: center;
  }

  & span {
    position: relative;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: .4s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -15px;
      top: 10px;

      width: 8px;
      height: 8px;

      border-top: 1px solid #000;
      border-left: 1px solid #000;
      
      transform: rotateZ(45deg);
      transition: .3s;
    }

    &.rotate::after {
      top: 7px;
      transform: rotateZ(225deg);
    }
  }
}


