@import '../../styles/main';

.search {
  position: relative;
  display: flex;

  &Input{
    @include input;
    padding: 5px;
    transition: all .1s;
    border-right:0;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px map-get($colors, textAccentN1-color);
      & + .searchButton {
        box-shadow: 0 0 10px map-get($colors, textAccentN1-color);
      }
    }
  }

  &Button {
    cursor: pointer;
    width: 38px;
    height: 38px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid map-get($colors, textAccentN1-color);
    border-left: none;
    border-radius:0 3px 3px 0;

    & > svg {
      position: absolute;
      top: 7px;
      right: -5px;
    }
  }
}
