@import '../../../styles/main';

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.search-container {
  display: block;
  margin: auto;
}

.button-container {
  position: absolute;
  right: 0;
}

.list-wrapper {
  min-height: 725px !important;
}
