@import '../../styles/main';

.conteiner-list{
    @include franklin-regular();
    width: 70%;
    height: 800px;
    margin: auto;
    box-shadow: #dddddd 0px 0px 10px 5px;
    border-radius: 15px;
    padding: 10px;
}

.list{
    overflow-y: scroll;
    overflow-x:hidden;
    margin: 20px;    overflow-y: scroll;
    overflow-x: hidden;
    margin: 20px;
    height: 700px;
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}

.list p{
    width: 83%;
    padding: 10px;
}

.add-role{
    display: flex;
}

.card{
    display: flex;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.name {
  font-size: larger;
  font-weight: bolder;
}

.warning{
    margin: auto;
    position: relative;
    left: 50%;
}

.btn{
  width: max-content;
  height: min-content;
    margin:10px;
}

.select{
    height: fit-content;
    margin:10px;
    padding: 7px;
}
.massage{
    text-align: center;
    font-weight: 900;
    position: relative;
    padding: 10px;
    left: 46%;
    color:#FFB800;
}

.panel{
    padding-top: 10px;
    margin: auto;
    width: fit-content;
}