.wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
  min-height: 100%;
  background-color: #01073A;
}

.error-container {
  background-color: #fff;
  margin-top: 30vh;
  border-radius: 3px;
  max-width: 500px;  
  transition: all ease .5s;

  @media (max-width: 768px) {
    margin-top: 20vh;
    transition: all ease .5s;
  }

  @media (max-width: 576px) {
    margin-top: 10vh;
    transition: all ease .5s;
  }
}