.title{
  color: #88C0D0;
  font-size: 10.5vh !important;
  line-height: 10.5vh;
  font-weight: 400;
  text-transform: uppercase;
}

.text{
  color: #88C0D0;
  font-size: 5vh !important;
  line-height: 5vh;
  font-weight: 400;
}


.home-button{
  border: #ffffff !important;
  background: #88C0D0 !important;
  color: #ffffff !important;
}
.home-button:hover{
  border: #4C566A !important;
  background: #ffffff !important;
  color: #88C0D0 !important;
}

.error{
  margin-top: 30vh;
  margin-left: 30%;
}
