@import '../../../styles/main.scss';

.button {
  @include button();
}

.remove-button {
  background-color: $theme-colorDark !important;
  border-color: $theme-colorDark !important;
}

.error {
  margin-left: 37%;
}

.loader-centered {
  display: block !important;
  margin: 0 auto;
}
